h1 {
  color: white;
  font-size: 48px;
}

li {
  color: rgb(12, 145, 78);
  font-size:      36px;
  font-weight:    bold;
}

.myHeader {
  text-align: center;
  font-size:      42px;
  font-weight:    bold;
  color:  white
}

.newFont {
  text-align: center;
  font-family: 'Nova Flat';font-size: 22px;
  font-size:      40px;
  font-weight:    bold;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}


